amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==46.0.5
decorator==5.2.1
dj-database-url==3.1.0
Django==4.2.16
django-appconf==1.2.0
django-cryptography==1.1
django-environ==0.12.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dogpile.cache==1.5.0
idna==3.11
iniconfig==2.3.0
iso8601==2.1.0
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.0.0
keystoneauth1==5.13.0
kombu==5.6.2
mysqlclient==2.2.8
openstacksdk==4.9.0
os-service-types==1.8.2
packaging==26.0
pbr==7.0.3
platformdirs==4.6.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.11
pycparser==3.0
Pygments==2.20.0
PyJWT==2.12.1
pytest==9.0.2
python-dateutil==2.9.0.post0
pyvmomi==9.0.0.0
PyYAML==6.0.3
redis==7.1.1
requests==2.32.5
requestsexceptions==1.4.0
setuptools==82.0.0
six==1.17.0
sqlparse==0.5.5
stevedore==5.6.0
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
